{% extends "base.html" %}

{% block title %}{{ _('Calendar View') }}{% endblock %}

{% block content %}
<h2>{{ _('Calendar View') }} - {{ _('Weeks of') }} {{ two_week_dates[0].strftime('%B %d') }} - {{ two_week_dates[-1].strftime('%B %d, %Y') }}</h2>

<div class="calendar-navigation">
    <a href="{{ url_for('calendar_view', date=prev_two_weeks) }}">&lt; {{ _('Previous Two Weeks') }}</a>
    <a href="{{ url_for('calendar_view', date=next_two_weeks) }}">{{ _('Next Two Weeks') }} &gt;</a>
</div>

<div class="calendar">
    <table>
        <thead>
            <tr>
                <th>{{ _('Apartment') }}</th>
                {% for date in two_week_dates %}
                <th>{{ date.strftime('%a') }}<br>{{ date.strftime('%d/%m') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for apartment in apartments %}
            <tr>
                <td>{{ apartment }}</td>
                {% for date in two_week_dates %}
                <td class="calendar-cell">
                    {% for booking in calendar_data[apartment][date] %}
                    <div class="booking-item" data-booking="{{ booking|tojson }}">
                        {{ booking.guest_name[:10] }}...
                    </div>
                    {% endfor %}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
